/** Stylesheet for Cloth-A-Child Foundation by AleeyCreative
	website : https://www.aleeycreative.github.io
**/

/** Variables **/
:root {
	--red-a : rgba(90%,10%,10%,.8);
	--red-b : rgba(90%,10%,10%,.6);
	--red-c : rgba(90%,10%,10%,.4);
	--blue-a : rgba(10%,10%,90%,.8);
	--blue-b : rgba(10%,10%,90%,.6); 
	--blue-c : rgba(10%,10%,90%,.4);
}

body {
	padding:0px;
	margin:0px;
	font-family:jabjai;
	font-weight:bold;
	background:#f1f1f1;
}


/** header styles **/

.header {
	display:flex;
	flex-flow:row wrap;
	justify-content:space-around;
	align-items:space-between;
	background:rgba(10,10,10,.3);
	position:fixed;
	z-index:20;
	left:0;
	top:0;
	filter:grayscale(.6);
	width:100%;
	font-family:factory LJDS;
	font-size:1.3em;
}

.links, .connect {
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
	align-items:center;
}
.links a, .connect a {
	text-decoration: none;
	color:#fff4;
	padding:20px;
}

.links a:hover, .connect a:hover {
	background:var(--blue-c);
	color:white;
}

/** splash styles **/

.splash {
	display:flex;
	height:100%;
	background:url(../pics/splash.jpg);
	filter:sepia(1) brightness(1);
	justify-content:center;
	align-items:center;
	transition:.3s;
}
.splash:hover{
}
.intro {
	width:70%;
	margin:auto;
	text-align:center;
	
}
.intro-logo {
	width:150px;
	height:150px;
	border-radius:100%;
	margin: 40px auto;
	box-shadow:black 1px 1px 30px 1px;
	background:url(../pics/middle-pic.jpg);
}
.intro-title {
	font-size:2.5em;
	font-weight:bold;
	}
.intro-title {}
.intro-text {
	width:300px;
	text-align:left;
	margin:auto;
	color:black;
	padding:30px;
	background:#e4f6;
	font-family:serif;
}

/** Area **/	
.area {
display:grid;
grid-template-rows : repeat(1fr,7);
grid-template-columns : repeat(1fr,7);
grid-template-areas : ". . . . . . ."
											". . i1 . . i2 . "
											". . i1 . . . ."
											". . . . . . ."
											". . . . i3 . ."
											". . . . . . . "
											". . . i4 . . ."
											
}

/** containers styles **/
.container {
	display: flex;
	flex-flow:row nowrap;
	background:white;
	padding:40px;
	box-sizing:border-box;
	width:300px;
	justify-content:center;
	align-items:center;	
 }
 
 
 .i1 {
 grid-area:i1;
 }
 .i2 {
 grid-area: i2
 }
 .i3 {
 grid-area : i3; 
 }
 .i4 {
 grid-area:i4;
 }
.illustration {
	margin:30px;
	width: 200px;
	height: 200px;
	color:#eaff;
	transition:.5s;
}
.content {
}
.content-title {
	font-size:2.4em;
	color:#eaff;
}
.content-text {
	font-family: factory LJDS;
	width:300px;
}



/** footer styles **/
.footer {
	position:fixed;
	left:0px;
	bottom:0px;
	width:100%;
	display:flex;
	justify-content:space-around;
	background:#f1f2;
}
.nfp {
	padding:4px;
}
.social-links {}
.social-links a {
	padding:4px;
}

